<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{template::bootstrap-head}">
		<meta charset="UTF-8">
		<title>GameTime</title>
	</head>
	<body>
		<div class="container">
			<form th:object="${utente}" th:action="@{/gametime/utenti/save}" method="post">
				<input type="hidden" th:field="*{id}">
				<div class="mb-3">
					<label class="form-label">Nome</label>
					<input class="form-control" th:field="*{nome}" required>
				</div>
				<div class="mb-3">
					<label class="form-label">Cognome</label>
					<input class="form-control" th:field="*{cognome}" required>
				</div>
				<div class="mb-3">
					<label class="form-label">Eta</label>
					<input class="form-control" th:field="*{eta}" required>
				</div>
				<div class="mb-3">
					<label class="form-label">Username</label>
					<input class="form-control" th:field="*{username}" required>
				</div>
				<div class="mb-3">
					<label class="form-label">Email</label>
					<input class="form-control" th:field="*{email}" required>
				</div>
				<div th:if="${utente.id == 0}" class="mb-3">
					<label class="form-label">Password</label>
					<input class="form-control" th:field="*{pass}"  required>
				</div>
				<button class="btn btn-primary" type="submit">Salva</button>
				<a class="btn btn-secondary" th:href="@{/gametime/utenti}">Annulla</a>
			</form>
		</div>
		<script th:replace="~{template::bootstrap-script}"></script>
	</body>
</html>