<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{template::bootstrap-head}">
			<meta charset="UTF-8">
			<title>GameTime</title>
	</head>
	
	<body>
		<div class="container">
			<form th:action="@{/gametime/tempi/save}" th:object="${tempo}" method="post">
				<div class="mb-3">
					<label class="form-label">Username</label>
					<input th:field="${utente.username}" required>
				</div>
				<div class="mb-3">
					<label class="form-label">Videogiochi</label>
					<input th:field="${listaVideogiochi.titolo}" required>
				</div>
				<div class="mb-3">
					<label class="form-label">Data</label>
					<input th:type="datetime-local" th:field="*{dateTime}" required>
				</div>			
				<button class="btn btn-primary" type="submit">Aggiungi!</button>
			</form>
		</div>		
		<script th:replace="~{template::bootstrap-script}"></script>
	</body>
</html>