<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{template::bootstrap-head}">
		<meta charset="UTF-8">
		<title>GameTime</title>
	</head>
	<body>
		<div th:if="${lista == null}">
				<div th:if="${utente.admin == 2}">
					<h5 class="alert-heading">La lista dei tuoi &egrave; vuota</h5>
					<a class="btn btn-warning" th:href="@{/gametime/videogiochi}">Aggiungi un gioco a cui hai giocato</a>
				</div>
				<div th:unless="${utente.admin == 2}">
					<h5 class="alert-heading">Nessun giocatore ha utilizzato il sito</h5>
				</div>
		</div>
		<script th:replace="~{template::bootstrap-script}"></script>
	</body>
</html>