<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{template::bootstrap-head}">
		<meta charset="UTF-8">
		<title>GameTime</title>
	</head>
	<body>
		<div class="container">
			<div th:if="${lista.size() == 0}">
				<div class="alert alert-warning" th:if="${utente.admin == 2}">
					<h5 class="alert-heading">La lista dei tuoi tempi &egrave; vuota</h5>
					<a class="btn btn-warning" th:href="@{/gametime/videogiochi}">Aggiungi un gioco a cui hai giocato</a>
				</div>
				<div class="alert alert-warning" th:unless="${utente.admin == 2}">
					<h5 class="alert-heading">Nessun giocatore ha utilizzato il sito</h5>
				</div>
			</div>
			<div th:unless="${lista.size() == 0}">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Id</td>
							<td>Utente</td>
							<td>Videogioco</td>
							<td>Tempo di gioco</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tempo : ${lista}">
							<td th:text="${tempo.id}"></td>
							<td th:text="${tempo.Utente.username}"></td>
							<td th:text="${tempo.Videogioco.titolo}"></td>
							<td th:text="${tempo.dateTime}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script th:replace="~{template::bootstrap-script}"></script>
	</body>
</html>